Language: Cpp
BasedOnStyle: WebKit
IndentWidth: 8

AlignTrailingComments: true

NamespaceIndentation: All

BreakBeforeBraces: Custom
BraceWrapping:
  AfterUnion: true
  AfterEnum: true
  AfterStruct: true
  AfterClass: true
  AfterFunction: true
  AfterNamespace: true
  AfterExternBlock: true
  AfterControlStatement: false
  BeforeCatch: false
  BeforeElse: false
 


##{ BasedOnStyle: WebKit, IndentWidth: 8, AlignTrailingComments: true, NamespaceIndentation: All,BreakBeforeBraces: Custom,BraceWrapping: { AfterUnion: true,AfterEnum: true,AfterStruct: true,AfterClass: true,AfterFunction: true,AfterNamespace: true,AfterExternBlock: true,AfterControlStatement: false,BeforeCatch: false,BeforeElse: false } }
##{ BasedOnStyle: WebKit, IndentWidth: 8, AlignTrailingComments: true, NamespaceIndentation: All,BreakBeforeBraces: Custom,BraceWrapping: { AfterUnion: true,AfterEnum: true,AfterStruct: true,AfterClass: true,AfterFunction: true,AfterNamespace: true,AfterExternBlock: true,AfterControlStatement: false,BeforeCatch: false,BeforeElse: false } }